.component {
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    flex-grow: 0.5 1;
}

.containerWrapper {
    display: flex;
    flex: 1;
}

.container {
    &:not(:last-child) {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &:last-child {
        align-self: flex-end;
    }
}

.title {
    margin: 0 0 var(--s-1) 0;
    font-weight: var(--tw-semi-bold);
    font-size: 22px;
    line-height: var(--s-1);
}

.date {
    color: #868686;
    font-size: 12px;
    font-weight: var(--tw-semi-bold);
    margin-bottom: var(--s-2);
}

.price {
    color: var(--c-shift-red);
    font-size: 26px;
    text-decoration: none;
    font-weight: var(--tw-semi-bold);
}

.bestPriceTag {
    background: var(--c-shift-red);
    padding: 5px;
    width: 70px;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: var(--box-shadow-light);
    font-size: 14px;
    font-weight: var(--tw-semi-bold);
    margin: 0;
    text-align: center;
}